@import './open-sans';
@import './material-icon';
@import './_variables';

* {
    font-family: 'Open Sans', 'Microsoft JhengHei';
}

body {
    &.lockScreen {
        overflow: hidden;

        main {
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);
                position: fixed;
                left: 0;
                top: 0;
                z-index: 1;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1.8;
}

a {
    color: $link;

    &:-webkit-any-link {
        color: $link;
    }
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
        list-style: none;
    }
}

main {
    line-height: 1.6;
    color: $font;
    display: flex;

    > * {
        flex: 1;
    }

    aside {
        padding: $space40 0;
    }

    @media screen and (min-width: 1025px) {
        section {
            min-width: 1300px;
        }
    }
}

footer {
    font-size: $fontSize16;
    text-align: center;
    background-color: $grayLight;
    padding: $space16;

    p {
        &:first-child {
            margin-bottom: $space12;
        }
    }

    .notice {
        font-size: 14px;
    }
}

.web {
    display: block;
}

.mobile {
    display: none;
}

// 裝置開始
@media screen and (max-width: $web) {
    section {
        padding-top: #{$profileHeightMD + $space + 4px + 10px};
    }

    footer {
        padding-top: $space8;
        padding-bottom: $space8;

        p {
            line-height: 1.6;
        }
    }
}

@media screen and (max-width: 400px) {
    section {
        padding-top: #{$profileHeightSM + $space12 + $space16 + 10px};
    }

    footer {
        font-size: $mobileFontSize14;
    }
}
