* {
    font-family: 'Open Sans', 'Microsoft JhengHei';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1.8;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    overflow: hidden;

    li {
        list-style: none;
    }
}

main {
    display: flex;

    > * {
        flex: 1;
        padding: 40px 20px;
    }
}

.profile {
    text-align: center;
    flex: 0 0 28%;

    .wrap {}

    .thumb {
        width: 200px;
        display: inline-block;
        vertical-align: middle;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}

.info-wrap {
    margin-bottom: 40px;

    &:first-child {
        display: flex;
    }

    h2 {
        margin-bottom: 20px;
    }

    .grid {
        border: 1px solid green;
        flex: 1;
    }

    .skills {
        flex: 1.6;
    }
}

.item-wrap {
    display: flex;
    align-items: center;
    // border: 1px solid red;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .thumb {
        width: 70px;

        img {
            width: 100%;
        }
    }

    .content {
        padding-left: 10px;
    }

    h3 {
        font-size: 16px;
    }

    .title {
        font-weight: bold;
    }

    .date {
        color: #959595;
    }
}

.skills {
    .items {
        display: flex;
    }

    .skill-wrap {
        flex: 1;

        ul {
            padding-left: 32px;
        }

        li {
            list-style: disc;
        }
    }
}

.experiences {
    display: flex;
    flex-direction: column;

    .left {
        .experience-wrap {
            float: left;
        }
    }

    .right {
        .experience-wrap {
            float: right;
        }
    }

    .bubble {
        // clear: both;
    }

    .experience-wrap {
        width: calc(50% - 16px);
        border: 1px solid pink;
    }
}
